
body{
    background-image: url('../assets/images/bground.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

.Home__Title{
    margin-top: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.Home {
    background-color: rgb(0, 4, 255);
    text-align: center;
    color: white;
    width: 600px;
    height: 600px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 6px solid rgb(255, 255, 255);
    border-radius: 40px;
    padding: 20px;
    overflow-y: scroll;
}
.Home h1, a{
    color: rgb(255, 249, 249);
    border-color: white;
}

.each{
    background-color: rgba(0, 0, 0, 0.636);
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid white;
    max-width: 400px;
}


.About__Title {
    margin-top: 100px;
    background-color: rgb(0, 4, 255);
    text-align: center;
    color: white;
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
    border-radius: 40px;
    padding: 20px;
}
.About__Title h1{
    color: rgb(0, 255, 0);
    border-color: white;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.33);
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}